In [8]:
usia = 21
type(usia)

int

In [10]:
usia = "21"
type(usia)

str

In [11]:
usia = '21'
type(usia)

str

In [13]:
usia = 21.5
type(usia)

float

In [16]:
a = 10
b = 3
c = float(a) / float(b)
print (c)

3.3333333333333335

In [17]:
a = 10
b = 3
c = a / b
print (c)

3.3333333333333335

In [18]:
x = "Diana"

print(x, "tipenya adalah ", type(x))

Diana tipenya adalah  <class 'str'>

In [19]:
kalimat = "Aku capek"
print(kalimat)

Aku capek

In [20]:
x = 3.23

print(x, "tipenya adalah", type(x))

3.23 tipenya adalah <class 'float'>

In [21]:
x = "123abcd"

print(x, "tipenya adalah", type(x))

123abcd tipenya adalah <class 'str'>

In [22]:
usia = True
type(usia)

bool

In [23]:
kalimat = "Aku Suka Angka 2"

print(kalimat)

Aku Suka Angka 2

In [24]:
kalimat = "Uang Ku Ada 10.000"

print(kalimat, "tipe kalimat adalah", type(kalimat))

Uang Ku Ada 10.000 tipe kalimat adalah <class 'str'>